<div class="linkslist">
  <p class="asidetitle"><%= __('links') %></p>
    <ul>
      <li><a href="http://hexo.io" target="_blank" title="Hexo">Hexo</a></li>
	  <li><a href="https://pinboard.in/u:harchiko" target="_blank" title="pinboard">我的 Pinboard</a></li>
    </ul>
</div>
